# Ignore virtual environment files
*venv*
__pycache__

# Ignore temp files
_*.md
_*.txt
*TEMP*
*temp*
*test*.py

# Ignore cluster files
slurm*
*ccc*

# Ignore launch files
launch_*.sh

# Ignore data files
data/

# Ignore results files
results*/*
html/
demo_results*

# Ignore pickled files
*.mcmc
*.idata
*.nc

# Ignore jupyter notebook files
.ipynb_checkpoints/

# Ignore Latexmk files
*.tex.swp
*.fdb_latexmk
*.aux
*.vrb
*.glo
*.bcf
*.code
*.idx
*.fls
*.log
*.toc
*.pytxcode
*.snm
*.nav
*.ist
*.acn
*.acr
*.alg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.wrt
*.lot
*.maf
*.thm
*.mtc
*.wrt
*.run.xml
*.mtc1
*.out
*.synctex.gz
*.synctex

# Ignore BibTeX files
*.bbl
*.blg
