# Ignore virtual environment files
venv*
__pycache__

# Ignore temp files
_*.md
_*.txt

# Ignore results files
*.results

# Ignore pickled files
*.mcmc
*.idata
*.nc

# Ignore jupyter notebook files
.ipynb_checkpoints/
